NEXT_PUBLIC_SITE_URL=https://marjouxsjoias.com.br
NEXT_PUBLIC_WHATSAPP_NUMBER=5511915818241

SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=

INFINITEPAY_HANDLE=marjouxsjoias
INFINITEPAY_BASE_URL=https://api.checkout.infinitepay.io

MARJOUXS_ORIGIN_ZIP=07400610
DEFAULT_SHIPMENT_WEIGHT_KG=0.3
DEFAULT_SHIPMENT_LENGTH_CM=16
DEFAULT_SHIPMENT_WIDTH_CM=12
DEFAULT_SHIPMENT_HEIGHT_CM=6
MELHOR_ENVIO_CLIENT_ID=
MELHOR_ENVIO_CLIENT_SECRET=
MELHOR_ENVIO_BASE_URL=https://sandbox.melhorenvio.com.br
MELHOR_ENVIO_REDIRECT_URI=https://marjouxsjoias.com.br/api/shipping/melhor-envio/oauth/callback
MELHOR_ENVIO_USER_AGENT=Marjouxs Ecommerce (marjouxsgold@gmail.com)
MELHOR_ENVIO_OAUTH_SETUP_KEY=
MELHOR_ENVIO_ALLOWED_JEWELRY_SERVICE_IDS=

NEXT_PUBLIC_GA_MEASUREMENT_ID=
GA4_API_SECRET=
